html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Target the link and make it look like standard text */
.stealth-link {
    color: inherit; /* Takes the color of the surrounding text */
    text-decoration: none; /* Removes the underline */
    cursor: text; /* Makes the cursor look like it's over a p tag */
}

/* Bring back the "link" feel only on hover */
.stealth-link:hover {
    text-decoration: underline;
    color: #007bff; /* Or any color you prefer */
    cursor: pointer; /* Changes cursor to the hand icon */
}