
@{
    ViewData["Title"] = "Add A Movie";
}

<h1>Add a Movie into the Collection</h1>
@* Form to add a movie to the collection *@
@* name, rating, edited, lent to, and notes *@

@* Rating field (dropdown) *@

@* Edited, lent to and notes not required *@

@* notes imited to 25 characters *@