@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie
 
    <h2>Confirm Deletion</h2>
    <h3>@Model.Title, @Model.Year</h3>
    <h4>Click 'Delete' if you don't want to keep @Model.Title in the collection.</h4>
<div style="display:flex; justify-content:center;">
    <form method="post">
        <input type="hidden" asp-for="MovieID" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-info" asp-controller="Home" asp-action="ViewAll" style="width:100%; margin-top: 10px;">Cancel</a>
    </form>
</div>
