@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>I perform regularly here at <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>!</p>

<p>Check out my podcast: <a href="https://baconsale.com/">Baconsale</a>! My buddies and I talk weekly about films & pop culture</p>
<div style="display:flex; justify-content:center;">
<a href="https://baconsale.com/"><img height="400" src="/img/BaconsaleKate.jpg"/></a>
</div>