@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p><a class="stealth-link" asp-controller="Home" asp-action="GetToKnowJoel">Experience Me</a></p>
    <img src="~/img/joelhiltonheadshot.jpg" />
</div>
